* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    max-height: 100%;
}

.clear {
    clear: both;
}

header {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.7)), url(../image/programmer.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.navbar-nav {
    margin-right: 25px;
}

.nav-link {
    color: white;
}

.nav-item {
    margin-right: 25px;
}

.nav-link:hover {
    color: #5383e2;
}

.name-color {
    color: #5383e2;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-left: 60px;
}

.fst-row {
    text-align: center;
    float: left;
    margin-top: 200px;
}

.fst-col {
    margin-left: 300px;
}

.my-name1 {
    color: white;
}

.my-name2 {
    color: #5383e2;
}

.my-img {
    width: 200;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
}

.title-anim {
    font-size: 20px;
    color: royalblue;
    font-weight: bold;
    border-right: 1px solid royalblue;
    position: relative;
}

.scnd-row {
    text-align: center;
}

.icon {
    text-align: center;
}

.icon ul {
    margin-top: 30px;
    list-style-type: none;
    display: inline-block;
}

.icon ul li {
    float: left;
    list-style-type: none;
    margin: 5px;
    color: #5383e2;
    font-size: 30px;
    height: 50px;
    width: 50px;
    background: white transparent;
    border-radius: 50%;
    line-height: 50px;
}

.icon ul li a {
    color: white;
}

.icon ul li:before {
    background: #5383e2;
    height: 50%;
    width: 50%;
    border-radius: 100%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}

.icon ul li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px #5383e2;
}

.icon ul li:hover {
    color: #5383e2;
    box-shadow: 0 0 15px #5383e2;
    text-shadow: 0 0 15px #5383e2;
}

.about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-div1 {
    text-align: center;
}

.fahid {
    color: #5383e2;
}

.my-img2 {
    width: 200px;
    height: 320px;
}

.about-div1 img {
    margin-left: 60px;
}

.about-div2 h1 {
    margin-bottom: 20px;
}

.about-div2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.info p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.btn {
    margin-right: 20px;
}

.thrd-row {
    background-color: rgb(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 100px;
}

.slide-head {
    color: white;
    margin-top: 15px;
}

.slide-head span {
    font-size: 40px;
    color: #5383e2;
    font-weight: bold;
}

.slide-img {
    width: 450px;
    height: 500px;
}

.forth-row {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.7)), url(../image/skills.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}

.forth-row h1 {
    margin: 15px 0 15px 550px;
}

.skills {
    width: 500px;
}

.left {
    margin-left: 100px;
}

.skills ul {
    list-style: none;
}

.skills ul li {
    margin: 20px 0;
}

.skills ul li h4 {
    color: white;
}

.skills ul li span {
    color: white;
}

.bar {
    background: #353b48;
    display: block;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
    float: left;
    height: 5px;
    background: #2187e7;
}

.html {
    width: 90%;
    animation: html 5s;
}

.css {
    width: 60%;
    animation: css 5s;
}

.bootstrap {
    width: 30%;
    animation: bootstrap 5s;
}

.js {
    width: 40%;
    animation: js 5s;
}

.c {
    width: 90%;
    animation: c 5s;
}

.Cc {
    width: 70%;
    animation: Cc 5s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes bootsrtap {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@keyframes js {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes c {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes Cc {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

.fifth-row {
    margin-bottom: 100px;
}

.fifth-row h1 {
    margin: 15px 0 50px 550px;
}

.msg-head {
    color: black;
}

.msg-head span {
    font-size: 40px;
    color: #5383e2;
    font-weight: bold;
}

.msg-name input[type="text"] {
    margin: 0 30px 20px 0px;
    width: 200px;
}

.msg-email input[type="text"] {
    width: 200px;
}

.msg-text {
    margin: 20px 0 30px 0px;
    width: 430px;
    height: 200px;
    display: block;
}

.msg-left div {
    margin-left: 150px;
}

.msg-right h5 p {
    margin-left: 20px;
    margin-bottom: 10px;
}

.msg-right div {
    margin-left: 30;
}

.msg-right p {
    font-size: 15px;
    opacity: 0.7;
}

.msg-icon {
    color: #5383e2;
}

.footer nav p {
    margin-left: 500px;
}

.footer-text {
    color: white;
}

.footer-name {
    color: #5383e2;
}

.contact-nav {
    margin-bottom: 100px;
}

.gallery-nav {
    margin-bottom: 100px;
}

.about-nav {
    margin-bottom: 200px;
}

.back {
    background-color: rgb(0, 0, 0, 0.7);
}